# ===============================
# JWT CONFIG
# ===============================
JWT_SECRET=your_jwt_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret
ACCESS_TOKEN_TTL=30d
REFRESH_TOKEN_TTL=7d

# ===============================
# DATABASE (MONGODB ATLAS)
# ===============================
MONGO_URI=mongodb://username:password@cluster.mongodb.net/dbname
MONGODB_URI=mongodb://username:password@cluster.mongodb.net/dbname

# ===============================
# SERVER
# ===============================
NODE_ENV=development
PORT=7003
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000

# ===============================
# CLOUDINARY CONFIG
# ===============================
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
